In [1]:

import numpy as np 
import pandas as pd

In [2]:

df = pd.read_csv("imdb-top-1000.csv")
df.head(2)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0


# 1. Basic:

In [3]:

# group by: generally apply on categorical data: 
gene = df.groupby('Genre')
gene

In [4]:

# perform: aggerate function on group by object:
gene.sum()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark KnightThe Lord of the Rings: The Retu...,2008200320102001200219991980197719621954200019...,22196,1367.3,Christopher NolanPeter JacksonChristopher Nola...,Christian BaleElijah WoodLeonardo DiCaprioElij...,72282412,3.263226e+10,10499.0
Adventure,InterstellarBack to the FutureInglourious Bast...,2014198520091981196819621959201319751963194819...,9656,571.5,Christopher NolanRobert ZemeckisQuentin Tarant...,Matthew McConaugheyMichael J. FoxBrad PittJürg...,22576163,9.496922e+09,5020.0
Animation,Sen to Chihiro no kamikakushiThe Lion KingHota...,2001199419882016201820172008199719952019200920...,8166,650.3,Hayao MiyazakiRoger AllersIsao TakahataMakoto ...,Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...,21978630,1.463147e+10,6082.0
Biography,Schindler's ListGoodfellasHamiltonThe Intoucha...,1993199020202011200220171995198420182013201320...,11970,698.6,Steven SpielbergMartin ScorseseThomas KailOliv...,Liam NeesonRobert De NiroLin-Manuel MirandaÉri...,24006844,8.276358e+09,6023.0
Comedy,GisaengchungLa vita è bellaModern TimesCity Li...,2019199719361931200919641940200120001973196019...,17380,1224.7,Bong Joon HoRoberto BenigniCharles ChaplinChar...,Kang-ho SongRoberto BenigniCharles ChaplinChar...,27620327,1.566387e+10,9840.0
Crime,The GodfatherThe Godfather: Part II12 Angry Me...,1972197419571994200219991995199120192006199519...,13524,857.8,Francis Ford CoppolaFrancis Ford CoppolaSidney...,Marlon BrandoAl PacinoHenry FondaJohn Travolta...,33533615,8.452632e+09,6706.0
Drama,The Shawshank RedemptionFight ClubForrest Gump...,1994199919941975202019981946201420061998198819...,36049,2299.7,Frank DarabontDavid FincherRobert ZemeckisMilo...,Tim RobbinsBrad PittTom HanksJack NicholsonSur...,61367304,3.540997e+10,19208.0
Family,E.T. the Extra-TerrestrialWilly Wonka & the Ch...,19821971,215,15.6,Steven SpielbergMel Stuart,Henry ThomasGene Wilder,551221,4.391106e+08,158.0
Fantasy,Das Cabinet des Dr. CaligariNosferatu,19201922,170,16.0,Robert WieneF.W. Murnau,Werner KraussMax Schreck,146222,7.827267e+08,0.0
Film-Noir,The Third ManThe Maltese FalconShadow of a Doubt,194919411943,312,23.9,Carol ReedJohn HustonAlfred Hitchcock,Orson WellesHumphrey BogartTeresa Wright,367215,1.259105e+08,287.0
Horror,PsychoAlienThe ThingThe ExorcistNight of the L...,19601979198219731968196120171978193320042001,1123,87.0,Alfred HitchcockRidley ScottJohn CarpenterWill...,Anthony PerkinsSigourney WeaverKurt RussellEll...,3742556,1.034649e+09,880.0
Mystery,MementoRear WindowVertigoShutter IslandKahaani...,200019541958201020121995197219381988201219981997,1429,95.7,Christopher NolanAlfred HitchcockAlfred Hitchc...,Guy PearceJames StewartJames StewartLeonardo D...,4203004,1.256417e+09,633.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,1.755074e+07,81.0
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,593,33.4,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,1289665,5.822151e+07,313.0

In [10]:

# all the relates year get aggrgated with: 
print(gene.sum()["Released_Year"])
print(gene.sum()["Released_Year"]["Action"])

Genre
Action       2008200320102001200219991980197719621954200019...
Adventure    2014198520091981196819621959201319751963194819...
Animation    2001199419882016201820172008199719952019200920...
Biography    1993199020202011200220171995198420182013201320...
Comedy       2019199719361931200919641940200120001973196019...
Crime        1972197419571994200219991995199120192006199519...
Drama        1994199919941975202019981946201420061998198819...
Family                                                19821971
Fantasy                                               19201922
Film-Noir                                         194919411943
Horror            19601979198219731968196120171978193320042001
Mystery       200019541958201020121995197219381988201219981997
Thriller                                                  1967
Western                                       1966196819651976
Name: Released_Year, dtype: object
2008200320102001200219991980197719621954200019941991201720162019201820122003198119861983201820182017201220122011200520052000199819941989198819851975196119242014201720132019201520082004200319931982196219491926201520152015201420142017201520102016200820092007201220072006200420022003199719841964195920172015201420142009200920062008200220021980197819721969193820192018201720162016201620102010200820082009200620072005200020022000199919971993199319921989198719871984197319671962194819481932201820182014201420132011201220062007200420042004200319971992198719821982197419731971197119681967196419602017201720172015201620142011201220102009200920072006200920062009200520002002199519931987198119791979

In [ ]:

#Q1: find the top: 3 generes by total earning: 
df.groupby('Genre').sum()["Gross"].sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [ ]:

#Q1: find the top: 3 generes by total earning: (Alternative)--> First and Efficient
# Efficient case we do sum late: 
df.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [25]:

#Q2: Find the genre with height avg IMDB Rating
df.groupby('Genre')["IMDB_Rating"].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [28]:

#Q3: Find director with most popularity:
df.groupby('Director')["No_of_Votes"].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [32]:

#Q4: Find the highest rated movie of each genre 
df.groupby("Genre")["IMDB_Rating"].max().sort_values(ascending=False)

Genre
Drama        9.3
Crime        9.2
Action       9.0
Biography    8.9
Western      8.8
Adventure    8.6
Comedy       8.6
Animation    8.6
Horror       8.5
Mystery      8.4
Fantasy      8.1
Film-Noir    8.1
Family       7.8
Thriller     7.8
Name: IMDB_Rating, dtype: float64

In [33]:
df.columns

Index(['Series_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating',
       'Director', 'Star1', 'No_of_Votes', 'Gross', 'Metascore'],
      dtype='object')

In [41]:

#Q5: Find number of movies done by each actor 
#df["Star1"].value_counts()
df.groupby("Star1")['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks            12
Robert De Niro       11
Clint Eastwood       10
Al Pacino            10
Leonardo DiCaprio     9
                     ..
Gérard Jugnot         1
Günes Sensoy          1
Haluk Bilginer        1
Harriet Andersson     1
Graham Chapman        1
Name: Series_Title, Length: 660, dtype: int64


<br>

# 2.  GroupBy Attributes and Methods:

In [46]:

# find the total number of groups from: 
total_num_of_grp = len(df.groupby('Genre'))
print(total_num_of_grp)


# or: 
print(len(df["Genre"].unique()))

#or 
print(df["Genre"].nunique())

14
14
14

In [ ]:

# size of each group: 
# there formed 14 groups, we will find the number of columns contains that group
res = df.groupby('Genre').size()
print(res,end="\n\n")

#or: 
print(df["Genre"].value_counts())

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

Genre
Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: count, dtype: int64

In [62]:

# find all the columns from that group: 
df.groupby('Genre').get_group('Family')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0

In [ ]:


#or:
df[df["Genre"]=="Family"]

# but group by operation is fast then this one:

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0

In [ ]:


# first movie: from a group: 
df.groupby('Genre').get_group('Family').head(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0

In [70]:



# last movie: from a group: 
df.groupby('Genre').get_group('Family').tail(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0

In [71]:

# get the first movie for each group: 
df.groupby('Genre').first()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [72]:


# last movie from each group: 
df.groupby('Genre').last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [79]:

# nth movie from a grup: (ignore where we don't have 90 movie) 
df.groupby("Genre").nth(90)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
295,The Man Who Shot Liberty Valance,1962,123,Drama,8.1,John Ford,James Stewart,68827,541426567.0,94.0
570,Raazi,2018,138,Action,7.8,Meghna Gulzar,Alia Bhatt,25344,896910257.0,NaN
626,Little Miss Sunshine,2006,101,Comedy,7.8,Jonathan Dayton,Valerie Faris,439856,59891098.0,80.0
811,Primal Fear,1996,129,Crime,7.7,Gregory Hoblit,Richard Gere,189716,56116183.0,47.0

In [80]:

df.iloc[2]

Series_Title       The Dark Knight
Released_Year                 2008
Runtime                        152
Genre                       Action
IMDB_Rating                    9.0
Director         Christopher Nolan
Star1               Christian Bale
No_of_Votes                2303232
Gross                  534858444.0
Metascore                     84.0
Name: 2, dtype: object

In [81]:

# groups 
# see: Action first moive on coulumn: 2, 
df.groupby('Genre').groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [83]:

# describe function: 
pd.set_option('display.max_columns',None)
df.groupby('Genre').describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating                                                   \
                count      mean       std  min    25%  50%    75%  max
Genre
Action          172.0  7.949419  0.304258  7.6  7.700  7.9  8.100  9.0
Adventure        72.0  7.937500  0.229781  7.6  7.800  7.9  8.100  8.6
Animation        82.0  7.930488  0.253221  7.6  7.700  7.9  8.100  8.6
Biography        88.0  7.938636  0.267140  7.6  7.700  7.9  8.100  8.9
Comedy          155.0  7.901290  0.228771  7.6  7.700  7.9  8.050  8.6
Crime           107.0  8.016822  0.335477  7.6  7.800  8.0  8.200  9.2
Drama           289.0  7.957439  0.267229  7.6  7.700  8.0  8.100  9.3
Family            2.0  7.800000  0.000000  7.8  7.800  7.8  7.800  7.8
Fantasy           2.0  8.000000  0.141421  7.9  7.950  8.0  8.050  8.1
Film-Noir         3.0  7.966667  0.152753  7.8  7.900  8.0  8.050  8.1
Horror           11.0  7.909091  0.311302  7.6  7.700  7.8  8.050  8.5
Mystery          12.0  7.975000  0.310791  7.6  7.675  8.0  8.225  8.4
Thriller          1.0  7.800000       NaN  7.8  7.800  7.8  7.800  7.8
Western           4.0  8.350000  0.420317  7.8  8.175  8.4  8.575  8.8

          No_of_Votes                                                     \
                count           mean            std       min        25%
Genre
Action          172.0  420246.581395  432946.814748   25312.0   82062.75
Adventure        72.0  313557.819444  301188.347642   29999.0   77113.50
Animation        82.0  268032.073171  262173.231571   25229.0   58736.00
Biography        88.0  272805.045455  271284.191372   27254.0   80890.00
Comedy          155.0  178195.658065  188653.570564   26337.0   47273.00
Crime           107.0  313398.271028  373999.730656   27712.0   66431.00
Drama           289.0  212343.612457  305554.162841   25088.0   43542.00
Family            2.0  275610.500000  137008.302816  178731.0  227170.75
Fantasy           2.0   73111.000000   22179.111299   57428.0   65269.50
Film-Noir         3.0  122405.000000   54649.083277   59556.0  104242.00
Horror           11.0  340232.363636  234883.508691   27007.0  174831.50
Mystery          12.0  350250.333333  404621.915297   33982.0   55011.75
Thriller          1.0   27733.000000            NaN   27733.0   27733.00
Western           4.0  322416.250000  263489.554280   65659.0  190993.75

                                           Gross                              \
                50%        75%        max  count          mean           std
Genre
Action     275497.0  611174.00  2303232.0  172.0  1.897224e+08  2.256724e+08
Adventure  236060.5  499798.00  1512360.0   72.0  1.319017e+08  1.697543e+08
Animation  169246.0  378923.75   999790.0   82.0  1.784326e+08  2.091840e+08
Biography  188676.5  369137.50  1213505.0   88.0  9.404952e+07  1.363251e+08
Comedy      88511.0  242759.00   939631.0  155.0  1.010572e+08  1.946513e+08
Crime      142107.0  444545.00  1826188.0  107.0  7.899656e+07  1.571191e+08
Drama       86525.0  246963.00  2343110.0  289.0  1.225259e+08  2.201164e+08
Family     275610.5  324050.25   372490.0    2.0  2.195553e+08  3.048412e+08
Fantasy     73111.0   80952.50    88794.0    2.0  3.913633e+08  7.606861e+07
Film-Noir  148928.0  153829.50   158731.0    3.0  4.197018e+07  7.048472e+07
Horror     362393.0  435935.50   787806.0   11.0  9.405902e+07  9.965017e+07
Mystery    159514.0  477666.25  1129894.0   12.0  1.047014e+08  1.567524e+08
Thriller    27733.0   27733.00    27733.0    1.0  1.755074e+07           NaN
Western    267808.0  399230.50   688390.0    4.0  1.455538e+07  1.230626e+07

                                                                              \
                   min           25%          50%           75%          max
Genre
Action          3296.0  2.402154e+07  103858027.5  2.674437e+08  936662225.0
Adventure      61001.0  1.323691e+07   57160627.0  1.998070e+08  874211619.0
Animation     128985.0  5.065330e+06  145219819.0  2.520612e+08  873839108.0
Biography      21877.0  2.464053e+07   51710054.0  9.829924e+07  753585104.0
Comedy          1305.0  2.918236e+06   19516000.0  8.107809e+07  886752933.0
Crime           6013.0  2.136032e+06   16290476.0  7.102163e+07  790482117.0
Drama           3600.0  2.603061e+06   18500194.0  1.164461e+08  924558264.0
Family       4000000.0  1.117776e+08  219555277.0  3.273329e+08  435110554.0
Fantasy    337574718.0  3.644690e+08  391363348.0  4.182577e+08  445151978.0
Film-Noir     449191.0  1.278626e+06    2108060.0  6.273068e+07  123353292.0
Horror         89029.0  2.289142e+07   56000369.0  1.362817e+08  298791505.0
Mystery      1035953.0  4.010115e+06   31154590.0  1.310949e+08  474203697.0
Thriller    17550741.0  1.755074e+07   17550741.0  1.755074e+07   17550741.0
Western      5321508.0  5.905377e+06   10550000.0  1.920000e+07   31800000.0

          Metascore
              count       mean        std   min    25%   50%    75%    max
Genre
Action        143.0  73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure      64.0  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation      75.0  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography      79.0  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy        125.0  78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime          87.0  77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama         241.0  79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family          2.0  79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy         0.0        NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir       3.0  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror         11.0  80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery         8.0  79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller        1.0  81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western         4.0  78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

In [87]:

# randomly get movie from each group:
# if one movie in any group -> then replace=True 
df.groupby('Genre').sample(2,replace=True)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
888,Baby Driver,2017,113,Action,7.6,Edgar Wright,Ansel Elgort,439406,107825862.0,86.0
477,Star Wars: Episode VII - The Force Awakens,2015,138,Action,7.9,J.J. Abrams,Daisy Ridley,860823,936662225.0,80.0
647,Cast Away,2000,143,Adventure,7.8,Robert Zemeckis,Tom Hanks,524235,233632142.0,73.0
873,The African Queen,1951,105,Adventure,7.7,John Huston,Humphrey Bogart,71481,536118.0,91.0
510,Cowboy Bebop: Tengoku no tobira,2001,115,Animation,7.9,Shin'ichirô Watanabe,Tensai Okamura,42897,1000045.0,61.0
43,The Lion King,1994,88,Animation,8.5,Roger Allers,Rob Minkoff,942045,422783777.0,88.0
18,Hamilton,2020,160,Biography,8.6,Thomas Kail,Lin-Manuel Miranda,55291,440984783.0,90.0
671,Awakenings,1990,121,Biography,7.8,Penny Marshall,Robert De Niro,125276,52096475.0,74.0
240,Dil Chahta Hai,2001,183,Comedy,8.1,Farhan Akhtar,Aamir Khan,66803,300000.0,NaN
284,Paper Moon,1973,102,Comedy,8.1,Peter Bogdanovich,Ryan O'Neal,42285,30933743.0,77.0
111,Taxi Driver,1976,114,Crime,8.3,Martin Scorsese,Robert De Niro,724636,28262574.0,94.0
960,Sleepers,1996,147,Crime,7.6,Barry Levinson,Robert De Niro,186734,49100000.0,49.0
862,The Birds,1963,119,Drama,7.7,Alfred Hitchcock,Rod Taylor,171739,11403529.0,90.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
948,The Others,2001,101,Horror,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
876,The Invisible Man,1933,71,Horror,7.7,James Whale,Claude Rains,30683,298791505.0,87.0
220,Kahaani,2012,122,Mystery,8.1,Sujoy Ghosh,Vidya Balan,57806,1035953.0,NaN
829,Spoorloos,1988,107,Mystery,7.7,George Sluizer,Bernard-Pierre Donnadieu,33982,367916835.0,NaN
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
115,Per qualche dollaro in più,1965,132,Western,8.3,Sergio Leone,Clint Eastwood,232772,15000000.0,74.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0

In [90]:

# unique values of each gropus: 
# in action grp: 
# there are 172 unique Title, 61 unique release date like this 
df.groupby('Genre').nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

<br>
<br>

# 3. Aggerate Function:

In [93]:

# here, all the column is added. 
# But if we need, avg runtime, sum IMDB_Rating then we can use aggerate function in groupby
df.groupby('Genre').sum().head(2)

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark KnightThe Lord of the Rings: The Retu...,2008200320102001200219991980197719621954200019...,22196,1367.3,Christopher NolanPeter JacksonChristopher Nola...,Christian BaleElijah WoodLeonardo DiCaprioElij...,72282412,3.263226e+10,10499.0
Adventure,InterstellarBack to the FutureInglourious Bast...,2014198520091981196819621959201319751963194819...,9656,571.5,Christopher NolanRobert ZemeckisQuentin Tarant...,Matthew McConaugheyMichael J. FoxBrad PittJürg...,22576163,9.496922e+09,5020.0

In [96]:

df.groupby('Genre').agg(
    {
        'Runtime':['mean'],
        'IMDB_Rating':["sum"],
        'Gross':['sum','std'],
        'Metascore':['min','max','sum']
    }
)

              Runtime IMDB_Rating         Gross               Metascore  \
                 mean         sum           sum           std       min
Genre
Action     129.046512      1367.3  3.263226e+10  2.256724e+08      33.0
Adventure  134.111111       571.5  9.496922e+09  1.697543e+08      41.0
Animation   99.585366       650.3  1.463147e+10  2.091840e+08      61.0
Biography  136.022727       698.6  8.276358e+09  1.363251e+08      48.0
Comedy     112.129032      1224.7  1.566387e+10  1.946513e+08      45.0
Crime      126.392523       857.8  8.452632e+09  1.571191e+08      47.0
Drama      124.737024      2299.7  3.540997e+10  2.201164e+08      28.0
Family     107.500000        15.6  4.391106e+08  3.048412e+08      67.0
Fantasy     85.000000        16.0  7.827267e+08  7.606861e+07       NaN
Film-Noir  104.000000        23.9  1.259105e+08  7.048472e+07      94.0
Horror     102.090909        87.0  1.034649e+09  9.965017e+07      46.0
Mystery    119.083333        95.7  1.256417e+09  1.567524e+08      52.0
Thriller   108.000000         7.8  1.755074e+07           NaN      81.0
Western    148.250000        33.4  5.822151e+07  1.230626e+07      69.0


             max      sum
Genre
Action      98.0  10499.0
Adventure  100.0   5020.0
Animation   96.0   6082.0
Biography   97.0   6023.0
Comedy      99.0   9840.0
Crime      100.0   6706.0
Drama      100.0  19208.0
Family      91.0    158.0
Fantasy      NaN      0.0
Film-Noir   97.0    287.0
Horror      97.0    880.0
Mystery    100.0    633.0
Thriller    81.0     81.0
Western     90.0    313.0


<br>
<br>

# 4. Loops in Groups:

In [99]:

cnt = 1 
for name,data in df.groupby('Genre'):
    print(cnt," : ",type(name),type(data))
    cnt +=1

1  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
2  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
3  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
4  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
5  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
6  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
7  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
8  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
9  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
10  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
11  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
12  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
13  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>
14  :  <class 'str'> <class 'pandas.core.frame.DataFrame'>

In [125]:
pd.DataFrame(columns=df.columns).to_dict()

{'Series_Title': {},
 'Released_Year': {},
 'Runtime': {},
 'Genre': {},
 'IMDB_Rating': {},
 'Director': {},
 'Star1': {},
 'No_of_Votes': {},
 'Gross': {},
 'Metascore': {}}

In [138]:

# indx of height IMDB_Rating Movie: 
data["IMDB_Rating"].idxmax()

np.int64(12)

In [ ]:

# question: find the details of highest rated movie in each group:
rows = []
for genre, data in df.groupby("Genre"):
    rows.append(data.loc[data["IMDB_Rating"].idxmax()])
highest_rated_movie = pd.DataFrame(rows)
highest_rated_movie

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
23,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
7,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
69,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0


<br>
<br>

# 5. Apply:

In [ ]:

# we already do this: df.groupby('Genre).min().head(2)
# apply(group)-> we get groups as an parameters
# But in apply we can send our custom function.
df.groupby('Genre').apply(min).head(2)

/tmp/ipykernel_1954404/925606925.py:3: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  df.groupby('Genre').apply(min).head(2)
/tmp/ipykernel_1954404/925606925.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('Genre').apply(min).head(2)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,NaN

In [ ]:

#Q1: find the number of movies Start with 'A' in each Genre:
def foo(group_data):
    cnt = 0 
    for title in group_data["Series_Title"]:
        if title[0]=="A":
            cnt+=1 
    return cnt 

def shortfoo(group_data):
    return group_data["Series_Title"].str.startswith('A').sum()

df.groupby('Genre').apply(shortfoo)

/tmp/ipykernel_1954404/2421686755.py:12: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('Genre').apply(shortfoo)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [ ]:
#
#Q2: add a new column normalize rating based on each group: 
#like action grup: normalize_rating = (X_rating) - X_min_rating / (X_max_rating + X_min_rating)
#
def normalize_rating(group_data):
    group_data["Norm_Rating"] = (group_data["IMDB_Rating"] - group_data["IMDB_Rating"].min()) /(group_data["IMDB_Rating"].max()-group_data["IMDB_Rating"].min()+)
    return group_data
df.groupby('Genre').apply(normalize_rating)

/tmp/ipykernel_1954404/4068378952.py:8: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('Genre').apply(normalize_rating)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              Norm_Rating
Genre
Action   2       1.000000
         5       0.928571
         8       0.857143
         10      0.857143
         13      0.785714
...                   ...
Thriller 700          NaN
Western  12      1.000000
         48      0.700000
         115     0.500000
         691     0.000000

[1000 rows x 11 columns]

<br>
<br>

# 6. GroupBy on Multple Columns:

In [ ]:

# Director: Akira and Star: Toshirô, They do total 7 movies together.
df.groupby(['Director','Star1']).size().sort_values(ascending=False)

Director           Star1
Akira Kurosawa     Toshirô Mifune     7
Charles Chaplin    Charles Chaplin    6
Joel Coen          Ethan Coen         6
Martin Scorsese    Robert De Niro     6
Christopher Nolan  Christian Bale     4
                                     ..
Hayao Miyazaki     Daveigh Chase      1
                   Hideaki Anno       1
                   Hitoshi Takagi     1
                   Kirsten Dunst      1
Guy Ritchie        Jason Flemyng      1
Length: 898, dtype: int64

In [ ]:

# Q1: get a particular group value: 
# now in get_group we need to pass tuple 
df.groupby(['Director','Star1']).get_group(('Christopher Nolan','Christian Bale'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
36,The Prestige,2006,130,Drama,8.5,Christopher Nolan,Christian Bale,1190259,53089891.0,66.0
63,The Dark Knight Rises,2012,164,Action,8.4,Christopher Nolan,Christian Bale,1516346,448139099.0,78.0
155,Batman Begins,2005,140,Action,8.2,Christopher Nolan,Christian Bale,1308302,206852432.0,70.0

In [170]:

#Q2: Find the most earning actor-director combo:
df.groupby(['Director','Star1'])['Gross'].max().sort_values(ascending=False).head(1)

Director     Star1
J.J. Abrams  Daisy Ridley    936662225.0
Name: Gross, dtype: float64

In [174]:

#Q3: Find the best(metascore(avg)) actor-genre combo:
df.groupby(['Director','Star1'])["Metascore"].mean().reset_index().sort_values(by='Metascore',ascending=False).head(1)

           Director            Star1  Metascore
540  Michael Curtiz  Humphrey Bogart      100.0

In [177]:

#Q3: aggerate function on group by on multiple columns:
df.groupby(['Director','Star1']).agg({
    'Runtime':['min','max']
})

                                   Runtime
                                       min  max
Director            Star1
Aamir Khan          Amole Gupte        165  165
Aaron Sorkin        Eddie Redmayne     129  129
Abdellatif Kechiche Léa Seydoux        180  180
Abhishek Chaubey    Shahid Kapoor      148  148
Abhishek Kapoor     Amit Sadh          130  130
...                                    ...  ...
Zaza Urushadze      Lembit Ulfsak       87   87
Zoya Akhtar         Hrithik Roshan     155  155
                    Vijay Varma        154  154
Çagan Irmak         Çetin Tekindor     112  112
Ömer Faruk Sorak    Cem Yilmaz         127  127

[898 rows x 2 columns]